################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ConsoleApp8/FileContentIndex/7d519f42-d272-432e-8e01-538c2eb96c8c.vsidx
/.vs/ConsoleApp8/FileContentIndex/32f03048-08d3-4c52-ac0b-5819dde0f313.vsidx
